* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background-color: black;
    margin: 0;
}

header {
    position: absolute;
    top: 4rem;
    right: 4rem;
}

h1 {
    color: #fff;
    font-size: 3.75rem;
    margin: 0;
    letter-spacing: 1rem;
    text-align: right;
    vertical-align: top;
    font-family: "Secular One", serif;
}

h2 {
    color: #FFD029;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 1rem;
    text-align: right;
    vertical-align: top;
    font-family: Lora, serif;
}

.solar-system {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(15 24 76), rgb(25 11 33));
    padding: 4rem;
    display: flex;
    align-items: center;
}

.sun {
    width: 79.875rem;
    height: 79.875rem;
    border-radius: 50%;
    background: #FFD029;
    position: absolute;
    left: -1200px;
}

    #sun:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.planet-container {
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet {
    border-radius: 50%;
}

    .planet:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.planet--tiny {
    width: 0.875rem;
    height: 0.875rem;
}
.planet--small {
    width: 1.625rem;
    height: 1.625rem;
}
.planet--medium {
    width: 4.125rem;
    height: 4.125rem;
}
.planet--big {
    width: 9rem;
    height: 9rem;
}
.planet--huge {
    width: 11.75rem;
    height: 11.75rem;
}

.planet--mercury {
    background: #888888;
}

.planet--mars {
    background: #EF5F5F;
}

.planet--earth {
    background: #428ED4;
}

.planet--venus {
    background: #E7CDCD;
}

.planet--saturn {
    background: #C7AA72;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(330deg);
}

    .planet--saturn::after { /* Saturn's rings */
        content: "";
        min-width: 14rem;
        height: 0.34375rem;
        border-radius: 50%;
        background-color: rgb(255 255 255 / 0.4);
    }

.planet--jupiter {
    background: #E29468;
}

.planet--uranus {
    background: #C9D4F1;
}

.planet--neptune {
    background: #7A91A7;
}

.planet--info {
    box-shadow:
    0 0 0 6rem rgb(255 255 255 / 0.045),
    0 0 0 3rem rgb(255 255 255 / 0.03);
    visibility: hidden;
}


/*OVERLAY PAGE*/

@keyframes slide {
    0% {left: -100%;}
    100% {left: 0;}
}

.overlay-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(15 24 76), rgb(25 11 33));
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    left: 0;
    top: 0;
}

.overlay-page--hidden {
    left: 100%;
}
.big-planet--visible {
    visibility: unset;
}
.animate {
    animation-name: slide;
    animation-duration: 700ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.overlay-page__star-canvas {
    width: 70.875rem;
    min-height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    opacity: 0.4;
}

.overlay-page__info-section {
    width: 40rem;
    min-height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}

.overlay-page__info-section h1, .overlay-page__info-section h2 {
    text-align: left;
}

.overlay-page__info-section h3 {
    font-family: "Secular One";
    letter-spacing: 0.1rem;
    color: #fff;
    margin: 0;
} 

.overlay-page__info-section p  {
    font-family: 'Roboto condensed', sans-serif;
    letter-spacing: 0.18rem;
    color: #fff;
}

.info-section__p {
    color: #fff;
    font-family: 'Roboto condensed', sans-serif;
    line-height: 1.9125rem;
    font-size: 1.125rem;
    letter-spacing: 0 !important;
}

.info-section__grid {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 4.31rem);
    grid-template-columns: repeat(2, 20rem);
}

.info-section__grid article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.info-section__grid p, .info-section__grid h3 {
    font-size: 1.125rem;
    color: #fff;
    margin: 0;
}


.info-section__moons {
    margin: 0 !important;
}

.overlay-page__info-section hr {
    width: 100%;
    border: 0.5px solid rgb(255 255 255 / 0.2)
}